node_modules/
logs
*.log
.idea
coverage/

set_dev_credentials.sh
set_prod_credentials.sh

*.xcworkspacedata
*.pbxproj
*.xcuserstate
*.xccheckout
.DS_Store


*.xcbkptlist

database.credentials

credentials

credentials.env

upload.zip

.vscode

*.local

*.env
*.env-*
*.ps1
.nvmrc
.tool-versions

start-localstack.sh

types/compiled

.values*.yaml
*.pem

dist
.project
.env
docker.env